ul{
    display: flex;
<<<<<<< HEAD
    gap: 10px;
    justify-content: space-between;
    align-items: center !important;
    margin-bottom: 0;
    padding-left: 100px;
  li{
        font-weight: 700;
        padding-top: 12px;
        cursor: pointer;
        width: 100px;
=======
   
    width: 270px;
    justify-content: space-between;
    align-items: center !important;
    margin-bottom: 0;
    padding-left: 50px;
  li{
       a{
        font-weight: 700;
        padding-top: 12px;
        cursor: pointer;
>>>>>>> 21f9046 (farruxs codes)
        font-size: 16px;
        line-height: 20px;
        color: white;
        font-family: "Inter", serif;
        text-decoration: none;
    
<<<<<<< HEAD
=======
       }
>>>>>>> 21f9046 (farruxs codes)
  }
}
