*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  z-index: 436576;  
}
body {
  
<<<<<<< HEAD
 background-color: #F2F2F2 !important;
=======
 background-color: black !important;
>>>>>>> 21f9046 (farruxs codes)
}
