* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  z-index: 436576;
}

body {
  background: white;
  color: black;
}

.dark body {
  background: black;
  color: white;
}
